/*Обнуление*/
*,*:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body {
	height: 100%;
}
/*Стили для демонстрации*/
body {
	background-color: #000;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow: hidden;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
/*Основные стили*/
.wave-btn {}
.wave-btn__text {}
.wave-btn__waves {}